* {
	box-sizing: border-box;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0px;
}

group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

module {
	display: flex;
	justify-content: space-between;
	outline: 1px solid #aaa;
	padding: 0px 8px;
	background: #eee;
	white-space: pre;
}

.clickable {
	background: #ccc;
	cursor: pointer;
}
