:root {
	--col-bg-1: #fff;
	--col-bg-2: #eee;
	--col-bg-3: #ccc;
	--col-fg: #000;

	--col-outline: #aaa;
	--col-highlight: darkred;
	--col-urgent: red;

	--col-nice-1: #75b6cc;
	--col-nice-2: #b675cc;
	--col-nice-3: #cc8b75;
	--col-nice-4: #8bcc75;

	--padding: 8px;
	--min-width: 32px;
	--font-size: 15px;
	--font-family: "Sans";
}

* {
	box-sizing: border-box;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

html, body {
	height: 100%;
}

body {
	overflow: hidden;
	margin: 0px;
	color: var(--col-fg);
	background: var(--col-bg-1);
	font-size: var(--font-size);
	font-family: var(--font-family);
}

group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

module {
	display: flex;
	justify-content: space-between;
	outline: 1px solid var(--col-outline);
	padding: 0px var(--padding);
	background: var(--col-bg-2);
	white-space: pre;
}

.clickable {
	background: var(--col-bg-3);
	cursor: pointer;
}
