* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0px;
}

group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

module {
	outline: 1px solid #aaa;
	display: inline-block;
	padding: 0px 8px;
	background: #eee;
}

module.I3Workspaces {
	padding: 0px;
}
module.I3Workspaces .workspace {
	display: inline-block;
	width: 100vh;
	text-align: center;
	background: #ccc;
}
module.I3Workspaces .workspace.focused {
	background: #abc;
}
